*.trs
*.log
*.o
*.lo
*.bak
*.la
*.patch
*.exe
*.dll
wget-*
*~
Makefile
Makefile.in
*/Makefile
*.Makefile.in
*/.deps
*/.libs
tmp
*.plist
nbproject
git_push
.depend
src/wget
ABOUT-NLS
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.rpath
config.status
config.sub
configure
depcomp
examples/getstream
examples/http_get
examples/http_get2
examples/print_css_urls
examples/print_css_urls2
examples/print_css_urls3
examples/print_html_urls
libwget/test_linking
libwget/css_tokenizer.c
gtk-doc.make
INSTALL
install-sh
libwget-0.1.pc
libtool
ltmain.sh
m4
missing
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/wget.pot
po/remove-potcdate.sed
po/stamp-po
stamp-h1
test-driver
tests/buffer_printf2_perf
tests/stringmap_perf
tests/test
tests/test--accept
tests/test--page-requisites
tests/test--spider-r
tests/test-auth-basic
tests/test-i-http
tests/test-i-https
tests/test-idn-cmd
tests/test-idn-meta
tests/test-idn-robots
tests/test-iri
tests/test-iri-forced-remote
tests/test-iri-list
tests/test-iri-percent
tests/test-k
tests/test-meta-robots
tests/test-wget-1
tests/test-np
tests/test-parse-html
tests/test-parse-rss
tests/test-restrict-ascii
tests/test--follow-tags
tests/test--post-file
tests/test-E-k
tests/test-directory-clash
tests/test-iri-disabled
docs/libwget/html
*.stamp
*.3
docs/libwget/libwget-decl-list.txt
docs/libwget/libwget-decl.txt
docs/libwget/libwget-overrides.txt
docs/libwget/libwget-undeclared.txt
docs/libwget/libwget-undocumented.txt
docs/libwget/libwget-unused.txt
docs/libwget/libwget.args
docs/libwget/libwget.hierarchy
docs/libwget/libwget.interfaces
docs/libwget/libwget.prerequisites
docs/libwget/libwget.signals
docs/libwget/xml
docs/libwget/version.xml
