Tim Rühsen <tim.ruehsen@gmx.de> Tim Ruehsen <tim.ruehsen@gmx.de>
Tim Rühsen <tim.ruehsen@gmx.de> rockdaboot <tim.ruehsen@gmx.de>
Darshit Shah <darnir@gnu.org> <darnir@gmail.com>
Ander Juaristi <ajuaristi@gmx.es> <a@juaristi.eus>
DalmeGNU <dalmemail@gmail.com> <dalmemail@amaya.tk>
DalmeGNU <dalmemail@gmail.com> Dan <dalmemail@gmail.com>
Kumar Mallikarjuna <kumarmallikarjuna1@gmail.com> <kumarmallikarjuna314@gmail.com>
Gisle Vanem <gisle.vanem@gmail.com> <gvanem@yahoo.no>
Josef Moellers <jmoellers@suse.de> jmoellers <jmoellers@suse.de>
Jiading Guo <zingdle@gmail.com> zingdle <zingdle@gmail.com>
